<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>itemIsSelect</key>
		<true/>
		<key>itemId</key>
		<string>1</string>
		<key>itemURL</key>
		<string></string>
		<key>itemName</key>
		<string>推荐</string>
	</dict>
	<dict>
		<key>itemIsSelect</key>
		<true/>
		<key>itemId</key>
		<string>12</string>
		<key>itemURL</key>
		<string>funny</string>
		<key>itemName</key>
		<string>搞笑</string>
	</dict>
	<dict>
		<key>itemIsSelect</key>
		<true/>
		<key>itemId</key>
		<string>3</string>
		<key>itemURL</key>
		<string>news_local</string>
		<key>itemName</key>
		<string>本地</string>
	</dict>
	<dict>
		<key>itemIsSelect</key>
		<true/>
		<key>itemId</key>
		<string>15</string>
		<key>itemURL</key>
		<string>news_game</string>
		<key>itemName</key>
		<string>游戏</string>
	</dict>
	<dict>
		<key>itemIsSelect</key>
		<true/>
		<key>itemId</key>
		<string>13</string>
		<key>itemURL</key>
		<string>news_car</string>
		<key>itemName</key>
		<string>汽车</string>
	</dict>
	<dict>
		<key>itemIsSelect</key>
		<true/>
		<key>itemId</key>
		<string>6</string>
		<key>itemURL</key>
		<string>news_finance</string>
		<key>itemName</key>
		<string>财经</string>
	</dict>
	<dict>
		<key>itemIsSelect</key>
		<true/>
		<key>itemId</key>
		<string>7</string>
		<key>itemURL</key>
		<string>news_military</string>
		<key>itemName</key>
		<string>军事</string>
	</dict>
	<dict>
		<key>itemIsSelect</key>
		<true/>
		<key>itemId</key>
		<string>8</string>
		<key>itemURL</key>
		<string>news_house</string>
		<key>itemName</key>
		<string>房产</string>
	</dict>
	<dict>
		<key>itemIsSelect</key>
		<true/>
		<key>itemId</key>
		<string>9</string>
		<key>itemURL</key>
		<string>news_culture</string>
		<key>itemName</key>
		<string>文化</string>
	</dict>
	<dict>
		<key>itemIsSelect</key>
		<true/>
		<key>itemId</key>
		<string>10</string>
		<key>itemURL</key>
		<string>news_society</string>
		<key>itemName</key>
		<string>社会</string>
	</dict>
	<dict>
		<key>itemIsSelect</key>
		<true/>
		<key>itemId</key>
		<string>11</string>
		<key>itemURL</key>
		<string>news_world</string>
		<key>itemName</key>
		<string>国际</string>
	</dict>
	<dict>
		<key>itemIsSelect</key>
		<true/>
		<key>itemId</key>
		<string>5</string>
		<key>itemURL</key>
		<string>news_entertainment</string>
		<key>itemName</key>
		<string>娱乐</string>
	</dict>
	<dict>
		<key>itemIsSelect</key>
		<true/>
		<key>itemId</key>
		<string>4</string>
		<key>itemURL</key>
		<string>video</string>
		<key>itemName</key>
		<string>视频</string>
	</dict>
	<dict>
		<key>itemIsSelect</key>
		<true/>
		<key>itemId</key>
		<string>14</string>
		<key>itemURL</key>
		<string>news_tech</string>
		<key>itemName</key>
		<string>科技</string>
	</dict>
	<dict>
		<key>itemIsSelect</key>
		<true/>
		<key>itemId</key>
		<string>2</string>
		<key>itemURL</key>
		<string>news_sports</string>
		<key>itemName</key>
		<string>体育</string>
	</dict>
</array>
</plist>
